@import url("reset.css");

* {
  box-sizing: content-box;
}

.icon {
  display: inline-block;
  background-image: url(/image/logo.png);
  background-repeat: no-repeat;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.header_wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header h1 a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-logo {
  width: 200px;
  height: 40px;
  background-position: 0 0;
}

/*.blind {
  position: absolute;
  left: -9999px;
  text-indent: -9999px;
  font-size: 0;
} 뭔가 로고 이미지 안뜨는 경우를 대비한 텍스트인 것 같으나 진짜 하나도 모르겠음*/

.gnb {
  padding-left: 270px;
}
.gnb > ul {
  height: 70px;
  position: relative;
}
.gnb > ul > li {
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
}
.sub_gnb {
  position: absolute;
  top: 70px;
  visibility: hidden;
}

.gnb > ul > li > a:hover .sub_gnb {
  visibility: inherit;
}

.button_wrap {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
}
.button_wrap button {
  line-height: 70px;
  padding: 0 10px;
  font-size: 16px;
  color: #aaa;
  background: none;
}

.banner {
  width: 100%;
  padding: 70px 0 150px 0;
}
.banner_wrap {
  width: 100%;
  margin: 0 auto;
}
.banner_imege1_1 {
  width: 100%;
  overflow: hidden;
}
.banner_imege1_2 {
  width: 100%;
  display: none;
}
.banner_imege1_3 {
  width: 100%;
  display: none;
}

.main {
  width: 100%;
}
.content1 {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.content_text1 {
  text-align: center;
  padding-bottom: 80px;
}
.content_text1 h2 {
  font-size: 40px;
  font-weight: bold;
}
.icon_left {
  width: 36px;
  height: 36px;
  background-position: -500px 0;
  margin-right: 20px;
}
.icon_right {
  width: 36px;
  height: 36px;
  background-position: -600px 0;
  margin-left: 20px;
}
.content1_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.on {
  display: none;
  opacity: 0;
}
.content1_img_box a:hover .off {
  display: none;
}
.content1_img_box a:hover .on {
  display: block;
  opacity: 1;
  transition: 1s ease-in-out;
}
.content1_img_box p {
  text-align: center;
  line-height: 300%;
}
.content1_img_box p:nth-child(3) {
  font-weight: bold;
}

.content2 {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 300px;
}
.content_text2 {
  text-align: center;
  padding-bottom: 40px;
}
.content_text2 h2 {
  font-size: 40px;
  font-weight: bold;
}
.content2_button_wrap {
  text-align: center;
  padding-bottom: 40px;
}
.content2_button_wrap button {
  border: 5px solid #000;
  background: none;
  font-size: 25px;
  color: #000;
  padding: 5px 10px;
}
.con2_accessory {
  margin: 0 10px 0 10px;
}
.content2_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content2_img_box p {
  text-align: center;
  line-height: 300%;
}
.content2_img_box p:nth-child(3) {
  font-weight: bold;
}

.content3 {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
}

.content4 {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 300px;
}
.content_text4 {
  text-align: center;
  padding-bottom: 40px;
}
.content_text4 h2 {
  font-size: 40px;
  font-weight: bold;
}
.content_text4 p {
  font-size: 30px;
}
.content4_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content4_img_box img {
  width: 240px;
  height: 240px;
}

footer {
  width: 100%;
  height: 250px;
  padding-bottom: 50px;
  background-color: #000;
}
.footer_wrap {
  position: relative;
  width: 1200px;
  height: 250px;
  margin: 0 auto;
}
.footer_nav {
  padding: 50px 0;
}
.footer_nav li {
  display: inline-block;
  padding-right: 30px;
}
.footer_nav li a {
  font-weight: bold;
  color: #fff;
}
.footer_copy {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  line-height: 200%;
  color: #fff;
}
.footer_cs {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 200%;
  color: #fff;
}
.footer_cs li:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  line-height: 200%;
}
